#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.board {
	display: grid;
	grid-template-columns: repeat(20, 1fr); 
	grid-template-rows: repeat(20, 1fr);
	height: 700px;
	width: 700px;
}

.inactive {
	display: none;
}

.tile {
	border: 1px solid black;
}

.snake {
	background-color: blue;
}

.food {
	background-color: red;
}